/* Wraper styles */
.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Navigation block styles */
.wrapper .nav {
    width: 25%;
    background-color: #34495E;
    color: white;
}

.wrapper .nav .user-info {
    display: grid;
    place-items: center;
    padding-top: 50px;
}

.wrapper .nav .user-info h2 {
    padding-bottom: 15px;
}

.wrapper .nav .user-info img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-bottom: 15px;
}

.wrapper .nav .user-info p {
    font-size: 16px;
    font-weight: 450;
}

.wrapper .nav nav {
    margin-left: 25px;
    margin-top: 50px;
    margin-right: 25px;
}

.wrapper .nav nav a {
    display: block;
    color: #d6d6d6;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 25px;
    border-bottom: 2px solid #d6d6d6;
    transition: 0.2s ease-in-out;
}

.wrapper .nav nav a:hover {
    color: white;
    border-bottom: 2px solid white;
}

/* Right part styles */
.container-right {
    width: 70%;
    margin: 50px;
}

.container-right h1 {
    text-align: center;
    margin-bottom: 25px;
}

/* Table styles */
.container-right table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0; 
    border-radius: 4px; 
    overflow: hidden;
}

.container-right table thead {
    background-color: #34495E;
}

.container-right table thead tr td {
    padding: 15px 25px;
    text-align: center;
    color: white;
    font-size: 16px;
}

.container-right table tbody tr {
    border-bottom: 1px solid #BDC3C7;
    background-color: #ECF0F1;
    transition: 0.1s ease-in;
}

.container-right table tbody tr:nth-child(even) {
    background-color: #D5DBDB;
}

.container-right table tbody tr:hover {
    background-color: #AED6F1;
}

.container-right table tbody tr td {
    color: #2C3E50;
    text-align: center;
    padding: 15px 15px;
}

.container-right table tbody tr:last-child {
    border-bottom: none;
}

.container-right table tbody tr .successful_sales {
    color: #28A745;
}

.container-right table tbody tr .unsuccessful_sales {
    color: #DC3545;
}

.container-right table tbody tr .income {
    color: #007BFF;
}

.container-right table tbody tr .expenses {
    color: #FD7E14;
}

/* Pagination styles */
.container-right .pagination {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.container-right .pagination a,
.container-right .pagination strong {
    margin-right: 10px;
    background-color: #5DADE2;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    padding: 7px 10px 5px 10px; 
    font-weight: 400;
    font-size: 14px;
    transition: 0.2s ease-in;
}

.container-right .pagination a:hover,
.container-right .pagination strong:hover {
    background-color: #D5DBDB;
    color: black;
}

.container-right .pagination a:last-child,
.container-right .pagination strong:last-child {
    margin-right: 0px;
}