/* Overlay */
.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    visibility: hidden; 
    transition: 0.1s ease-in; 
    z-index: 1; 
}

.overlay.active {
    opacity: 1; 
    visibility: visible; 
}

/* Table styles */
.container-right table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0; 
    border-radius: 4px; 
    overflow: hidden;
}

.container-right table thead {
    background-color: #34495E;
}

.container-right table thead tr td {
    padding: 15px 10px;
    text-align: center;
    color: white;
    font-size: 16px;
}

.container-right table tbody tr {
    border-bottom: 1px solid #BDC3C7;
    background-color: #ECF0F1;
    transition: 0.1s ease-in;
}

.container-right table tbody tr:nth-child(even) {
    background-color: #D5DBDB;
}

.container-right table tbody tr:hover {
    background-color: #AED6F1;
}

.container-right table tbody tr td {
    color: #2C3E50;
    text-align: center;
    padding: 15px 5px;
}

.container-right table tbody tr td a,
.container-right table tbody tr td .remove-btn {
    color: #ffff;
    text-decoration: none;
    background-color: #4A90E2;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    transition: 0.2s ease-in;
}

.container-right table tbody tr td .remove-btn {
    background-color: rgba(220, 53, 69, 0.9);
}

.container-right table tbody tr td a:hover {
    background-color: #3C78C0;
}

.container-right table tbody tr:last-child {
    border-bottom: none;
}

.container-right table tbody tr .success b,
.container-right table tbody tr .unsuccess b {
    background-color: rgba(40, 167, 69, 0.9);
    font-weight: 400;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
}

.container-right table tbody tr .unsuccess b {
    background-color: rgba(220, 53, 69, 0.9);
}

/* Styles for create new user */
.container-right .create-product {
    padding-bottom: 15px;
}

.container-right .create-product button {
    background-color: #2ECC71;
    color: white;
    padding: 5px 15px;
    border-radius: 4px;
    border: none;
    transition: 0.2s ease-in;
}

.container-right .create-product button:hover {
    background-color: #27AE60;
}

.container-right .create-product .create-product--form {
    width: 500px;
    position: absolute;
    z-index: 999;
    top: 75px;
    visibility: hidden;
    opacity: 0;
    transition: 0.15s ease-in;
}

.container-right .create-product .create-product--form.active {
    visibility: visible;
    opacity: 1;
}

.container-right .create-product .create-product--form form {
    display: grid;
    place-items: center;
    background-color: white;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    padding: 50px 25px;
}

.container-right .create-product .create-product--form form .svg {
    margin-top: -45px;
    margin-right: -15px;
    width: 100%;
}

.container-right .create-product .create-product--form form .svg svg {
    float: right;
    transition: 0.2s ease-in;
}

.container-right .create-product .create-product--form form .svg svg:hover {
    transform: scale(1.5);
}

.container-right .create-product .create-product--form form h3 {
    padding-bottom: 25px;
    font-size: 28px;
}

.container-right .create-product .create-product--form form label {
    font-size: 14px;
    color: #71717a;
}

.container-right .create-product .create-product--form form input[type="text"],
.container-right .create-product .create-product--form form input[type="email"],
.container-right .create-product .create-product--form form input[type="password"] {
    width: 99%;
    padding: 5px;
    margin: 7px 0 10px 0;
    border: none;
    border-bottom: 1px solid #71717a;
    outline: none;
    font-size: 14px;
}

.container-right .create-product .create-product--form form select {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #71717a;
    outline: none;
    color: #71717a;
    margin-bottom: 10px;
}

.container-right .create-product .create-product--form form input[type="file"] {
    width: 100%;
    margin: 7px 0 10px 0;
    border: none;
}

.container-right .create-product .create-product--form form button {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    background-color: #4A90E2;
}

.container-right .create-product .create-product--form form button:hover {
    background-color: #3C78C0;
}

.container-right .alert {
    width: 98%;
    background-color: rgba(220, 53, 69, 0.9);
    padding: 10px;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.container-right .alert.success {
    background-color: rgba(40, 167, 69, 0.9);
}